* {
  direction: rtl;
}
body {
  background-color: aqua;
}
h1 {
  text-align: center;
  font-size: 60px;
}
span {
  color: rgb(119, 0, 255);
  font-size: 60px;
}
button {
  font-size: 60px;
  margin-right: 40%;
}
